@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Pacifico;
    font-size: 24px;
    line-height: 1.25;
    background-color: #ffffff;
    color: #000000;
    /* height: 4000px; */
    /* a height allows you to scroll */
}

/*
    If you just use position fixed
    and no width, then the page takes the smallest size
    the entire content can be, that is why you need to specifiy 100%
*/
main {}

header {
    background-color: #f2dd00;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    max-width: 265px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 0 0 24px;
    color: #000000;

}

section {
    padding: 96px;
}

section.yellow {
    background-color: #f2dd00;
}

section.salmon {
    background-color: #f09291;
}

section.baby-blue {
    background-color: #bee3f8;
}

/*
    margin: top, right, bottom, left
    margin is based on the red box, without the margin
    the box will not be centered
*/
h2 {
    font-size: 96px;
    text-align: center;
    max-width: 10em;
    margin: 0 auto 0 auto
}

figure {
    max-width: 700px;
    margin: 0 auto 0 auto;
    position: relative;
}

figcaption {
    position: absolute;
    top: 70%;
    left: 100%;
    width: 50%;
    transform: translate(-50%, -50%);
}

figcaption:before {
    content: "";
    aspect-ratio: 1/ 1.6;
    /* padding: 160% 0 0 0; */
    /* 8/5*/
    display: block;
}

section.salmon figcaption {
    left: 0;
}

figcaption img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 500px;
    opacity: 0;
    transition: opacity 0.5s 0.5s;
    /* fade in and out */
}

figcaption.in-view img {
    opacity: 1;
}

figcaption img:nth-child(2) {
    transition-delay: 1s;
}

figcaption img:nth-child(3) {
    transition-delay: 1.5s;
}

@media (prefers-reduced-motion: no-preference) and (min-width: 600px) {

    body,
    a,
    a:hover {
        cursor: none;
    }

    div.cursor {
        position: absolute;
        top: 32px;
        left: 32px;
        width: 16px;
        height: 16px;
        background-color: rebeccapurple;
    }
}